<h3>Template Driven Form</h3>
<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
	<div>UserName
		<input type="text" class="inputField" placeholder="User name"
         required maxlength="25"
         [(ngModel)]="userName" name="userName"
         #selectedName="ngModel">
		<div *ngIf="!selectedName.valid && selectedName.touched">
			Username is required!
		</div>
	</div>
	<div>Email
		<input type="email" class="inputField" placeholder="Email"
         required [(ngModel)]="email"
         name="email" #userEmail="ngModel">
		<div *ngIf="!userEmail.valid && userEmail.touched">
			Email is required!
		</div>
	</div>
	<div>Password
		<input type="password" class="inputField" placeholder="Password" required
         [(ngModel)]="password" name="password"
         #userPassword="ngModel">
		<div *ngIf="!userPassword.valid && userPassword.touched">
			Password is required!
		</div>
	</div>

	<br>
	<button type="submit" [disabled]="!userForm.form.valid">
    Register
  </button>

	<button type="button" (click)="userForm.reset()">
    Reset
  </button>

</form>
<br>
<h3>Reactive Forms</h3>
<form [formGroup]="myForm" (ngSubmit)="onSubmitRf(myForm)">
	<div>Name<input formControlName="name" placeholder="Your name">
		<span *ngIf="myForm.get('name').errors && (myForm.get('name').touched || myForm.get('name').dirty)">
                                Name is required
                            </span>
	</div>

	<div>Email<input formControlName="emailRf" placeholder="Your email">
		<span *ngIf="myForm.get('emailRf').errors && (myForm.get('emailRf').touched || myForm.get('emailRf').dirty)">
                                Email is required
                            </span>
		<span *ngIf="myForm.get('emailRf').touched && myForm.get('emailRf').errors?.email">
      Enter a valid email address
    </span></div>
	<div>Password<input formControlName="passwordRf" placeholder="Your password">
		<span *ngIf="myForm.get('passwordRf').errors && (myForm.get('passwordRf').touched || myForm.get('passwordRf').dirty)">
    Password is required
    </span>
	</div>
	<br>
	<button type="submit" >Submit</button>
	<button type="button" (click)="myForm.reset()">Reset</button>
</form>